<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://udemy.com">The Complete Ruby on Rails developer</a> by <a href="https://www.jprpich.com">Joshua Prpich</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>